<%# locals: (merchant:) %>
<% is_selected = merchant.id === @selected_merchant&.id %>

<%= content_tag :div,
      class: ["filterable-item flex justify-between items-center border-none rounded-lg px-2 py-1 group w-full hover:bg-container-inset-hover",
              { "bg-container-inset": is_selected }],
      data: { filter_name: merchant.name } do %>
  <%= button_to transaction_path(@transaction.entry),
      method: :patch,
      params: { entry: { entryable_type: "Transaction", entryable_attributes: { id: @transaction.id, merchant_id: merchant.id } } },
      data: { turbo_frame: dom_id(@transaction.entry) },
      class: "flex w-full items-center gap-1.5 cursor-pointer focus:outline-none" do %>

    <%= icon("check") if is_selected %>

    <div class="flex items-center gap-2">
      <% if merchant.logo_url %>
        <%= image_tag merchant.logo_url, class: "w-5 h-5 rounded-full" %>
      <% else %>
        <%= render partial: "shared/color_avatar", locals: { name: merchant.name, color: merchant.color, size: "sm" } %>
      <% end %>
      <span class="text-sm text-primary"><%= merchant.name %></span>
    </div>
  <% end %>

  <%= render DS::Menu.new do |menu| %>
    <% menu.with_item(variant: "link", text: t(".edit"), icon: "pencil-line", href: edit_family_merchant_path(merchant), data: { turbo_frame: :modal }) %>
    <% menu.with_item(variant: "link", text: t(".delete"), icon: "trash-2", href: family_merchant_path(merchant), method: :delete, confirm: CustomConfirm.for_resource_deletion(merchant.name), destructive: true) %>
  <% end %>
<% end %>
