<%= turbo_frame_tag "merchant_dropdown" do %>
  <div class="flex flex-col relative" data-controller="list-filter">
    <div class="grow p-1.5">
      <div class="relative flex items-center bg-container border border-secondary rounded-lg">
        <input
          placeholder="<%= t(".search_placeholder") %>"
          autocomplete="nope"
          type="search"
          class="bg-container placeholder:text-sm placeholder:text-secondary font-normal h-10 relative pl-10 w-full border-none rounded-lg focus:outline-hidden focus:ring-0"
          data-list-filter-target="input"
          data-action="list-filter#filter">
          <%= icon("search", class: "absolute inset-0 ml-2 transform top-1/2 -translate-y-1/2") %>
        </div>
      </div>
      <div data-list-filter-target="list" class="flex flex-col gap-0.5 p-1.5 mt-0.5 mr-2 max-h-64 overflow-y-scroll scrollbar">
        <div class="pb-2 pl-4 mr-2 text-secondary hidden" data-list-filter-target="emptyMessage">
          <span data-empty-text><%= t(".no_merchants") %></span>
          <%= link_to new_family_merchant_path(transaction_id: @transaction.id),
                  class: "flex text-sm font-medium items-center gap-2 text-primary w-full rounded-lg p-2 hover:bg-container-inset-hover mt-2",
                  data: { turbo_frame: "modal" } do %>
            <%= icon("plus") %>
            <span><%= t(".new_merchant") %></span>
          <% end %>
        </div>
        <% if @merchants.any? %>
          <% @merchants.each do |merchant| %>
            <%= render "merchant/dropdowns/row", merchant: merchant %>
          <% end %>
        <% else %>
          <div class="flex justify-center items-center py-12">
            <div class="text-center flex flex-col items-center max-w-[500px]">
              <p class="text-sm text-secondary font-normal mb-4"><%= t(".empty") %></p>

              <%= link_to new_family_merchant_path(transaction_id: @transaction.id),
                      class: "btn btn-outline",
                      data: { turbo_frame: "modal" } do %>
                <%= icon("plus", class: "mr-2") %>
                <%= t(".new_merchant") %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <%= render "shared/ruler", classes: "my-2" %>

      <div class="relative p-1.5 w-full">
        <% if @transaction.merchant %>
          <%= button_to transaction_path(@transaction.entry),
                      method: :patch,
                      data: { turbo_frame: dom_id(@transaction.entry) },
                      params: { entry: { entryable_type: "Transaction", entryable_attributes: { id: @transaction.id, merchant_id: nil } } },
                      class: "flex text-sm font-medium items-center gap-2 text-secondary w-full rounded-lg p-2 hover:bg-container-inset-hover" do %>
            <%= icon("minus") %>

            <%= t(".clear") %>
          <% end %>
        <% end %>

        <%= link_to new_family_merchant_path(transaction_id: @transaction.id),
                class: "flex text-sm font-medium items-center gap-2 text-secondary w-full rounded-lg p-2 hover:bg-container-inset-hover",
                data: { turbo_frame: "modal" } do %>
          <%= icon("plus") %>
          <p><%= t(".new_merchant") %></p>
        <% end %>
      </div>
    </div>
  <% end %>
