<%# locals: (account:, entry:, reconciliation_dry_run:, is_update:, action_verb:) %>

<div class="space-y-4 text-sm text-secondary">
  <% if account.investment? %>
    <% brokerage_cash = reconciliation_dry_run.new_cash_balance || 0 %>
    <% holdings_value = reconciliation_dry_run.new_balance - brokerage_cash %>

    <p><%= t(".investment_intro_html", action_verb: action_verb, date: entry.date.strftime("%B %d, %Y")) %></p>

    <div class="bg-container rounded-lg p-4 space-y-2 border border-primary">
      <div class="flex justify-between">
        <span><%= t(".total_account_value") %></span>
        <span class="font-medium text-primary"><%= Money.new(reconciliation_dry_run.new_balance, account.currency).format %></span>
      </div>
      <div class="flex justify-between text-xs">
        <span><%= t(".holdings_value") %></span>
        <span><%= Money.new(holdings_value, account.currency).format %></span>
      </div>
      <div class="flex justify-between text-xs">
        <span><%= t(".brokerage_cash") %></span>
        <span class="<%= brokerage_cash.negative? ? "text-red-500" : "text-green-500" %>"><%= Money.new(brokerage_cash, account.currency).format %></span>
      </div>
    </div>
  <% else %>
    <p><%= t(".action_description_html",
             action_verb: action_verb.capitalize,
             account_type: t(".account_types.#{account_type_key(account)}"),
             date: entry.date.strftime("%B %d, %Y"),
             amount: entry.amount_money.format) %></p>
  <% end %>

  <p><%= t(".recalculation_notice", change_type: is_update ? t(".change") : t(".update")) %></p>
</div>
