<%# locals: (family:, year:) %>

<%= turbo_frame_tag "bills_picker" do %>
  <div class="p-3 space-y-4">
    <div class="flex items-center gap-2 justify-between">
      <%= link_to picker_recurring_bills_path(year: year - 1), data: { turbo_frame: "bills_picker" }, class: "p-2 flex items-center justify-center hover:bg-alpha-black-25 rounded-md" do %>
        <%= icon "chevron-left" %>
      <% end %>

      <span class="w-40 text-center px-3 py-2 border border-tertiary rounded-md">
        <%= year %>
      </span>

      <%= link_to picker_recurring_bills_path(year: year + 1), data: { turbo_frame: "bills_picker" }, class: "p-2 flex items-center justify-center hover:bg-alpha-black-25 rounded-md" do %>
        <%= icon "chevron-right" %>
      <% end %>
    </div>

    <div class="grid grid-cols-3 gap-2 text-sm text-center font-medium">
      <% (1..12).each do |month_number| %>
        <% date = Date.new(year, month_number, 1) %>
        <% month_name = I18n.l(date, format: "%b") %>

        <%= render DS::Link.new(
          variant: "ghost",
          text: month_name,
          href: recurring_bills_path(month: date.strftime("%Y-%m-%d")),
          full_width: true,
          frame: :_top
        ) %>
      <% end %>
    </div>
  </div>
<% end %>
